body {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	margin: 0;
	padding: 0;
}
.logo-max {
	margin: auto;
	width: 210px;
}

body {
	background-attachment: fixed;
	background-image: url('/imgs/back.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
body > header,
body > footer {
	height: 80px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 1;
}
body > header {
	top: 0;
}
body > footer {
	bottom: 0;
}
body > header > nav {
	text-align: center;
	line-height: 80px;
}
body > header > nav a {}
body > header > nav a:hover {}
body > header > nav a.fa {
	background: rgba(255,255,255,.5);
	display: inline-block;
	margin: 0 5px;
	line-height: 30px;
	height: 30px;
	width: 30px;
	border: 1px solid #555;
	border-radius: 16px;
	color: #555;
	text-decoration: none;
	transition: all .5s ease;
}
body > header > nav a.fa.fa-envelope-o {
	line-height: 28px;
	position: relative;
	top: -1px;
	transition: all .2s ease;
}
body > header > nav a.fa:hover {
	border-color: #fff;
	color: #fff;
	background: rgba(65,103,177,.5);
}
body > section {
	background: rgba(255,255,255,.5);
	bottom: 80px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 80px;
	vertical-align: center;
	z-index: 2;
}
body > section > .centered {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body > section > .top-shadow,
body > section > .bottom-shadow {
	background-image: url('/imgs/shadow.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 15px;
}
body > section > .top-shadow {
	left: 0;
    position: absolute;
    right: 0;
    top: -15px;
}
body > section > .bottom-shadow {
	left: 0;
	position: absolute;
	right: 0;
	bottom: -15px;
	transform: rotate(180deg);
}
body > section h3 {
	margin: 20px 0 0;
}
body > footer {
	box-sizing: border-box;
    text-align: center;
    padding: 15px 0;
}
body > footer > form {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 26px;
	border: 1px solid #555;
	display: inline-block;
	height: 50px;
}
body > footer > form input {
	background: none;
	border: none;
	font-size: 18px;
	height: 36px;
	line-height: 36px;
	padding: 0 0 0 15px;
	width: 200px;
	color: #555;
}
body > footer > form a.fa {
	background: rgba(0,200,0,.5);
	border-radius: 18px;
	border: 1px solid #555;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    position: relative;
    right: 1px;
    text-align: center;
    text-decoration: none;
    top: -1px;
    width: 32px;
}

/*@media (max-width: 800px) {*/
	body > footer > form {
		border-radius: 26px;
		height: 50px;
		/*background: rgba(0, 0, 0, 0.5);*/
	}
	body > footer > form input {
		height: 50px;
		line-height: 50px;
		width: 220px;
	}
	body > footer > form a.fa {
		border-radius: 24px;
	    height: 46px;
	    line-height: 46px;
	    right: 1px;
	    top: -1px;
	    width: 46px;
	}
/*}*/